streamlit==1.25.0
pandas==1.4.3
numpy
plotly_express
python-dateutil==2.8.2
json5==0.9.6
jsonschema==4.4.0
sqlalchemy==2.0.4
psycopg2==2.9.3
datetime
streamlit_option_menu
openpyxl
xlsxwriter
requests
streamlit-lottie
protobuf
st-pages
streamlit-extras
altair<5
